<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<title>Willkommen bei Horselife</title>
	</head>
	<body>
		<h1> Herzilich Willkommen bei Horselife</h1>
		<p> Du suchst einen neuen Stall, einen anderen Trainer oder willst Infos über Tuniere, Lehrgänge oder suchst eine Möglichkeit ein Reit oder Fahrabzeichen zu erwerben? Dann bist du hier genau richtig</p>
		<p> Klicke auf Registrierung um die zu Registrieren oder auf Login um dich ein zu logen</p>
		
		<div id="login"></div>
		<div class="button">
			<INPUT type="button" value="Login" id="Login" onClick="parent.location='http://localhost:2702/login'"></FORM>
			<INPUT type="button" value="Registrieren" id="Registrieren" onClick="parent.location='http://localhost:2702/registratierung'"></FORM>
		</div>
	</body>
</html>