<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>Registrierung mit JavaScript</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
		<div id="username_div">
			<label>Username</label> <br>
			<input type="text" name="username" class="textInput">
			<div id="name_error"></div>
		</div>
		<div id="email_div">
			<label>Email</label> <br>
			<input type="email" id="emailInput" name="email" class="textInput">
			<div id="email_error"></div>
		</div>
		<div id="password_div">
			<label>Password</label> <br>
			<input type="password" id="passInput" name="password" class="textInput">
		</div>
		<div id="pass_confirm_div">
			<label>Password confirm</label> <br>
			<input type="password" id="passInputConfirm" name="password_confirm" class="textInput">
			<div id="password_error"></div>
		</div>
		<div id="nachname_div">
			<label>Nachname</label> <br>
			<input type="text" id="nachnameInput" name="nachname" class="textInput">
		</div>
		<div id="vorname_div">
			<label>Vorname</label> <br>
			<input type="text" id="VornameInput" name="vorname" class="textInput">
		</div>
		<div id="vorname_div">
			<label>Typ </label> <br>
			<select name="Typ" size="4">
				<option>Reiter</option>
				<option>Reittrainer</option>
				<option>Reitstall</option>
				<option>Verein</option>
			</select type="text" id="typInput" name="vorname" class="textInput">
			
		</div>
		<div>
			<input type="submit" id="registerBtn" name="register" value="Register" class="btn">
		</div>
</div>
<script>
	document.getElementById("registerBtn").onclick = function () {
		postUser();
	}
	function postUser() {
		var obj = {};
		obj["email"] = document.getElementById("emailInput").value;
		var passInput = document.getElementById("passInput").value;
		var passConfirm = document.getElementById("passInputConfirm").value;
		if (passInput == passConfirm){
			obj["hashed_pass"] = document.getElementById("passInput").value;
		}
		var nachname = document.getElementById("nachnameInput").value;
		var vorname = document.getElementById("VornameInput").value;
		var typ = document.getElementById("typInput").value;
		obj = JSON.stringify(obj);
		console.log(obj);
		var settings = {
			"async": false,
			"crossDomain": true,
			"url": "http://127.0.0.1:2702/users",
			"method": "POST",
			"headers": {
				"Content-Type": "application/json",
				"Cache-Control": "no-cache"
			},
			"data": obj
		}
		$.ajax(settings).done(function (response) {
			console.log(response);
		});
	}
</script>
</body>
</html>